PROJECT_NAME=Typeform Builder API
API_VERSION=0.1.0
API_PREFIX=/api
DATABASE_URL=sqlite:///./typeform_builder.db
BACKEND_CORS_ORIGINS=["http://localhost:3000","http://localhost:3001","http://127.0.0.1:3000","http://127.0.0.1:3001"]
